In [309]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

import warnings
warnings.filterwarnings("ignore")

In [310]:
Matches = pd.read_csv("matches_processed.csv")
Deliveries = pd.read_csv("deliveries_processed.csv")

In [311]:
print(Matches.columns)
print(Deliveries.columns)

Index(['id', 'player_of_match', 'venue', 'team1', 'team2', 'toss_winner',
       'winner', 'result', 'target_runs', 'target_overs', 'Home_Win', 'loser',
       'Home_Loss', 'Neutral', 'toss_match_win'],
      dtype='object')
Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs',
       'total_runs', 'extras_type', 'is_wicket', 'player_dismissed',
       'dismissal_kind', 'score'],
      dtype='object')

In [312]:
unique_players = pd.concat([
    Deliveries['batter'],
    Deliveries['bowler'],
    Deliveries['non_striker']
]).dropna().unique()
print(unique_players)

['SC Ganguly' 'BB McCullum' 'RT Ponting' 'DJ Hussey' 'Mohammad Hafeez'
 'R Dravid' 'W Jaffer' 'V Kohli' 'JH Kallis' 'CL White' 'MV Boucher'
 'B Akhil' 'AA Noffke' 'P Kumar' 'Z Khan' 'SB Joshi' 'PA Patel'
 'ML Hayden' 'MEK Hussey' 'MS Dhoni' 'SK Raina' 'JDP Oram' 'S Badrinath'
 'K Goel' 'JR Hopes' 'KC Sangakkara' 'Yuvraj Singh' 'SM Katich'
 'IK Pathan' 'T Kohli' 'YK Pathan' 'SR Watson' 'M Kaif' 'DS Lehmann'
 'RA Jadeja' 'M Rawat' 'D Salunkhe' 'SK Warne' 'SK Trivedi' 'G Gambhir'
 'V Sehwag' 'S Dhawan' 'L Ronchi' 'ST Jayasuriya' 'DJ Thornely'
 'RV Uthappa' 'PR Shah' 'AM Nayar' 'SM Pollock' 'Harbhajan Singh'
 'S Chanderpaul' 'LRPL Taylor' 'AC Gilchrist' 'Y Venugopal Rao'
 'VVS Laxman' 'A Symonds' 'RG Sharma' 'SB Styris' 'AS Yadav' 'SB Bangar'
 'WPUJC Vaas' 'RP Singh' 'WP Saha' 'LR Shukla' 'DPMD Jayawardene'
 'S Sohal' 'B Lee' 'PP Chawla' 'WA Mota' 'Kamran Akmal' 'Shahid Afridi'
 'DJ Bravo' 'MA Khote' 'A Nehra' 'GC Smith' 'Pankaj Singh' 'RR Sarwan'
 'S Sreesanth' 'VRV Singh' 'SS Tiwary' 'DS Kulkarni' 'R Vinay Kumar'
 'AB Agarkar' 'M Kartik' 'I Sharma' 'AM Rahane' 'Shoaib Malik' 'MK Tiwary'
 'KD Karthik' 'R Bhatia' 'MF Maharoof' 'VY Mahesh' 'TM Srivastava'
 'B Chipli' 'DW Steyn' 'DB Das' 'MK Pandey' 'HH Gibbs' 'DNT Zoysa'
 'D Kalyankrishna' 'SE Marsh' 'SA Asnodkar' 'Sohail Tanvir' 'Salman Butt'
 'BJ Hodge' 'Umar Gul' 'AB Dinda' 'SP Fleming' 'S Vidyut' 'JA Morkel'
 'AB de Villiers' 'LPC Silva' 'DB Ravi Teja' 'Misbah-ul-Haq' 'YV Takawale'
 'RR Raje' 'PJ Sangwan' 'Mohammad Asif' 'GD McGrath' 'Joginder Sharma'
 'MS Gony' 'M Muralitharan' 'M Ntini' 'DT Patil' 'A Kumble' 'S Anirudha'
 'MM Patel' 'CK Kapugedera' 'A Chopra' 'T Taibu' 'J Arunkumar' 'PP Ojha'
 'SP Goswami' 'SR Tendulkar' 'U Kaul' 'TM Dilshan' 'A Mishra'
 'AD Mascarenhas' 'NK Patel' 'LA Pomersbach' 'Iqbal Abdulla' 'Younis Khan'
 'PM Sarvesh Kumar' 'DP Vijaykumar' 'Shoaib Akhtar' 'Abdur Razzak' 'H Das'
 'DR Smith' 'SD Chitnis' 'CRD Fernando' 'VS Yeligati' 'L Balaji'
 'A Mukund' 'RR Powar' 'JP Duminy' 'A Flintoff' 'T Thushara' 'JD Ryder'
 'KP Pietersen' 'T Henderson' 'Kamran Khan' 'RS Bopara' 'CH Gayle'
 'MC Henriques' 'R Bishnoi' 'FH Edwards' 'KV Sharma' 'PC Valthaty'
 'RJ Quiney' 'AS Raut' 'Yashpal Singh' 'M Manhas' 'AA Bilakhia' 'AN Ghosh'
 'BAW Mendis' 'DL Vettori' 'MN van Wyk' 'RE van der Merwe' 'TL Suman'
 'Shoaib Ahmed' 'GR Napier' 'KP Appanna' 'LA Carseldine' 'NV Ojha'
 'SM Harwood' 'M Vijay' 'SB Jakati' 'DA Warner' 'RJ Harris' 'D du Preez'
 'M Morkel' 'AD Mathews' 'J Botha' 'C Nanda' 'SL Malinga'
 'Mashrafe Mortaza' 'A Singh' 'GJ Bailey' 'AB McDonald' 'Y Nagar'
 'SS Shaikh' 'R Ashwin' 'Mohammad Ashraful' 'CA Pujara' 'OA Shah'
 'Anirudh Singh' 'Jaskaran Singh' 'AP Tare' 'AT Rayudu' 'R Sathish'
 'R McLaren' 'AA Jhunjhunwala' 'P Dogra' 'A Uniyal' 'MS Bisla'
 'YA Abdulla' 'EJG Morgan' 'JM Kemp' 'S Tyagi' 'RS Gavaskar' 'SE Bond'
 'KA Pollard' 'S Ladda' 'DP Nannes' 'MJ Lumb' 'DR Martyn' 'S Narwal'
 'AB Barath' 'Bipul Sharma' 'FY Fazal' 'AC Voges' 'MD Mishra' 'UT Yadav'
 'J Theron' 'SJ Srivastava' 'R Sharma' 'Mandeep Singh' 'KM Jadhav'
 'SW Tait' 'KB Arun Karthik' 'KAJ Roach' 'PD Collingwood' 'CK Langeveldt'
 'VS Malik' 'A Mithun' 'AP Dole' 'AN Ahmed' 'RS Sodhi' 'DE Bollinger'
 'S Sriram' 'B Sumanth' 'C Madan' 'AG Paunikar' 'MR Marsh' 'AJ Finch'
 'STR Binny' 'Harmeet Singh' 'IR Jaggi' 'DT Christian' 'UBT Chand'
 'DJ Jacobs' 'AL Menaria' 'MA Agarwal' 'AUK Pathan' 'Sunny Singh'
 'JJ van der Wath' 'R Ninan' 'S Aravind' 'DH Yagnik' 'S Randiv'
 'BJ Haddin' 'MS Wade' 'J Syed Mohammad' 'RN ten Doeschate' 'TR Birt'
 'AG Murtaza' 'I Malhotra' 'L Ablish' 'AC Blizzard' 'CA Ingram' 'S Nadeem'
 'VR Aaron' 'JEC Franklin' 'BA Bhatt' 'Shakib Al Hasan' 'F du Plessis'
 'RE Levi' 'GJ Maxwell' 'KK Cooper' 'JP Faulkner' 'HV Patel'
 'DAJ Bracewell' 'DJ Harris' 'Ankit Sharma' 'SP Narine' 'AA Chavan'
 'GB Hogg' 'RR Bhatkal' 'CJ McKay' 'N Saini' 'DA Miller' 'Azhar Mahmood'
 'NLTC Perera' 'RJ Peterson' 'KMDN Kulasekara' 'A Ashish Reddy'
 'V Pratap Singh' 'Gurkeerat Singh' 'PA Reddy' 'P Awana' 'AD Russell'
 'P Negi' 'A Chandila' 'CA Lynn' 'P Parameswaran' 'Sunny Gupta'
 'MC Juneja' 'KK Nair' 'MDKJ Perera' 'R Shukla' 'B Laughlin' 'AS Rajpoot'
 'JD Unadkat' 'GH Vihari' 'Mohammed Shami' 'BMAJ Mendis' 'M Vohra'
 'R Rampaul' 'CH Morris' 'SV Samson' 'SMSM Senanayake' 'BJ Rohrer'
 'KL Rahul' 'R Dhawan' 'MG Johnson' 'Q de Kock' 'BB Samantray' 'CM Gautam'
 'X Thalaivan Sargunam' 'DJG Sammy' 'MM Sharma' 'Sandeep Sharma' 'S Kaul'
 'Sachin Baby' 'PV Tambe' 'NM Coulter-Nile' 'SA Yadav' 'CJ Anderson'
 'NJ Maddinson' 'AR Patel' 'JJ Bumrah' 'JDS Neesham' 'SPD Smith' 'B Kumar'
 'TG Southee' 'S Rana' 'MA Starc' 'BR Dunk' 'RR Rossouw' 'KW Richardson'
 'Shivam Sharma' 'YS Chahal' 'LMP Simmons' 'VH Zol' 'BCJ Cutting'
 'Imran Tahir' 'WD Parnell' 'BE Hendricks' 'S Gopal' 'M de Lange'
 'R Tewatia' 'JO Holder' 'Karanveer Singh' 'SS Iyer' 'DJ Hooda'
 'Anureet Singh' 'KS Williamson' 'Parvez Rasool' 'SA Abbott' 'J Suchith'
 'RG More' 'HH Pandya' 'D Wiese' 'SN Khan' 'MJ McClenaghan'
 'DJ Muthuswami' 'PJ Cummins' 'SN Thakur' 'CR Brathwaite' 'MP Stoinis'
 'Ishan Kishan' 'C Munro' 'JC Buttler' 'P Sahu' 'KH Pandya' 'AD Nath'
 'MJ Guptill' 'KJ Abbott' 'TM Head' 'NS Naik' 'RR Pant' 'SW Billings'
 'KC Cariappa' 'Swapnil Singh' 'HM Amla' 'F Behardien' 'N Rana' 'BB Sran'
 'S Kaushik' 'J Yadav' 'ER Dwivedi' 'CJ Jordan' 'TS Mills' 'A Choudhary'
 'JJ Roy' 'Vishnu Vinod' 'Basil Thampi' 'CR Woakes' 'V Shankar'
 'Rashid Khan' 'C de Grandhomme' 'Mohammad Nabi' 'AJ Tye' 'K Rabada'
 'Kuldeep Yadav' 'S Badree' 'AR Bawne' 'SP Jackson' 'Ankit Soni'
 'AF Milne' 'MN Samuels' 'TA Boult' 'E Lewis' 'DL Chahar' 'MA Wood'
 'RK Singh' 'DJM Short' 'BA Stokes' 'RA Tripathi' 'K Gowtham' 'TK Curran'
 'M Markande' 'B Stanlake' 'Mujeeb Ur Rahman' 'Washington Sundar'
 'A Dananjaya' 'Shubman Gill' 'Shivam Mavi' 'Mohammed Siraj' 'H Klaasen'
 'RK Bhui' 'JC Archer' 'PP Shaw' 'LE Plunkett' 'Mustafizur Rahman'
 'AD Hales' 'MK Lomror' 'M Ashwin' 'DR Shorey' 'MM Ali'
 'M Prasidh Krishna' 'P Chopra' 'JPR Scantlebury-Searles'
 'Abhishek Sharma' 'IS Sodhi' 'SO Hetmyer' 'S Dube' 'Navdeep Saini'
 'JM Bairstow' 'KMA Paul' 'Rasikh Salam' 'N Pooran' 'P Ray Barman'
 'SM Curran' 'GC Viljoen' 'Avesh Khan' 'S Lamichhane' 'RD Chahar'
 'HF Gurney' 'SD Lad' 'AS Joseph' 'R Parag' 'MJ Santner' 'JL Denly'
 'LS Livingstone' 'KK Ahmed' 'AJ Turner' 'Harpreet Brar' 'SE Rutherford'
 'Y Prithvi Raj' 'P Simran Singh' 'JL Pattinson' 'A Nortje' 'T Banton'
 'LH Ferguson' 'D Padikkal' 'YBK Jaiswal' 'RD Gaikwad' 'TU Deshpande'
 'Abdul Samad' 'PK Garg' 'JR Philippe' 'Kartik Tyagi' 'KL Nagarkoti'
 'CV Varun' 'I Udana' 'Ravi Bishnoi' 'Shahbaz Ahmed' 'AT Carey'
 'N Jagadeesan' 'T Natarajan' 'P Dubey' 'SS Cottrell' 'Arshdeep Singh'
 'DR Sams' 'M Jansen' 'RM Patidar' 'KA Jamieson' 'M Shahrukh Khan'
 'JA Richardson' 'Lalit Yadav' 'Virat Singh' 'FA Allen' 'C Sakariya'
 'DJ Malan' 'KS Bharat' 'PWH de Silva' 'VR Iyer' 'GD Phillips'
 'GHS Garton' 'AK Markram' 'K Yadav' 'T Shamsi' 'NT Ellis' 'RV Patel'
 'TL Seifert' 'Anmolpreet Singh' 'Anuj Rawat' 'TH David' 'DP Conway'
 'Tilak Varma' 'R Powell' 'PBB Rajapaksa' 'RA Bawa' 'OF Smith' 'A Badoni'
 'PVD Chameera' 'A Manohar' 'R Shepherd' 'DJ Willey' 'D Pretorius'
 'JM Sharma' 'VG Arora' 'Mukesh Choudhary' 'Umran Malik' 'D Brevis'
 'B Sai Sudharsan' 'Ramandeep Singh' 'HE van der Dussen' 'SS Prabhudessai'
 'Akash Deep' 'JR Hazlewood' 'KR Sen' 'Aman Hakim Khan' 'HR Shokeen'
 'Yash Dayal' 'DJ Mitchell' 'Shashank Singh' 'B Indrajith' 'Harshit Rana'
 'Mohsin Khan' 'Simarjeet Singh' 'M Theekshana' 'AS Roy'
 'Fazalhaq Farooqi' 'K Kartikeya' 'RP Meredith' 'KS Sharma' 'T Stubbs'
 'R Sanjay Yadav' 'A Tomar' 'PN Mankad' 'OC McCoy' 'Sikandar Raza'
 'Rahmanullah Gurbaz' 'KR Mayers' 'Mukesh Kumar' 'HC Brook' 'AU Rashid'
 'C Green' 'N Wadhera' 'Arshad Khan' 'Abishek Porel' 'Dhruv Jurel'
 'MG Bracewell' 'MW Short' 'Mohit Rathee' 'YV Dhull' 'A Zampa'
 'Yudhvir Singh' 'Atharva Taide' 'Harpreet Singh' 'Liton Das' 'PD Salt'
 'Vijaykumar Vyshak' 'Abdul Basith' 'Arjun Tendulkar' 'JP Behrendorff'
 'AJ Hosein' 'Naveen-ul-Haq' 'Noor Ahmad' 'JE Root' 'KM Asif' 'MD Shanaka'
 'Sanvir Singh' 'Vivrant Sharma' 'DG Nalkande' 'R Ravindra' 'SD Hope'
 'Sumit Kumar' 'Azmatullah Omarzai' 'Naman Dhir' 'G Coetzee' 'SZ Mulani'
 'Sameer Rizvi' 'SH Johnson' 'Akash Madhwal' 'SB Dubey' 'Mayank Dagar'
 'RJW Topley' 'A Raghuvanshi' 'Ashutosh Sharma' 'Nithish Kumar Reddy'
 'Saurav Chauhan' 'Kumar Kushagra' 'BR Sharath' 'WG Jacks'
 'J Fraser-McGurk' 'Tanush Kotian' 'KA Maharaj' 'Arshad Khan (2)'
 'R Sai Kishore' 'L Wood' 'LB Williams' 'AA Kulkarni' 'MJ Suthar'
 'RJ Gleeson' 'Gulbadin Naib' 'D Ferreira' 'A Kamboj' 'T Kohler-Cadmore'
 'Shivam Singh' 'V Viyaskanth' 'P Amarnath' 'B Geeves' 'Gagandeep Singh'
 'A Nel' 'AM Salvi' 'RR Bose' 'SS Sarkar' 'RA Shaikh' 'C Ganapathy'
 'MB Parmar' 'SB Wagh' 'ND Doshi' 'AA Kazi' 'Anand Rajan' 'RW Price'
 'TP Sudhindra' 'BW Hilfenhaus' 'P Suyal' 'MG Neser' 'IC Pandey'
 'K Santokie' 'JW Hastings' 'GS Sandhu' 'Tejas Baroka' 'SS Agarwal'
 'NB Singh' 'MJ Henry' 'K Khejroliya' 'L Ngidi' 'CJ Dala' 'SC Kuggeleijn'
 'S Midhun' 'O Thomas' 'S Sandeep Warrier' 'CJ Green' 'Monu Kumar'
 'LI Meriwala' 'Jalaj S Saxena' 'Akash Singh' 'IC Porel' 'PH Solanki'
 'M Pathirana' 'J Little' 'RS Hangargekar' 'NA Saini' 'Yash Thakur'
 'Suyash Sharma' 'SSB Magala' 'D Jansen' 'Gurnoor Brar' 'R Goyal'
 'H Sharma' 'N Burger' 'KT Maphaka' 'M Siddharth' 'MP Yadav' 'S Joseph'
 'N Thushara' 'V Kaverappa']

In [313]:
Players = pd.DataFrame(unique_players, columns=['player'])

runs_df = Deliveries.groupby('batter')['batsman_runs'].sum().reset_index()

batting_stats = Deliveries.groupby('batter').agg(
    matches_played = ('match_id', lambda x: x.nunique()),
    total_runs     = ('batsman_runs', 'sum'),
    balls_faced    = ('batsman_runs', 'count'),
    total_4s       = ('batsman_runs', lambda x: (x == 4).sum()),
    total_6s       = ('batsman_runs', lambda x: (x == 6).sum())
).reset_index().rename(columns={'Batter': 'player'})

bowling_stats = Deliveries.groupby('bowler').agg(
    balls_bowled = ('match_id', 'count'),
    extras_given = ('extra_runs', 'sum'),
    runs_given   = ('total_runs', 'sum'),
    wickets_taken = ('is_wicket', 'sum')
).reset_index().rename(columns={'Bowler': 'player'})

bowling_stats['overs_bowled'] = bowling_stats['balls_bowled'] / 6
bowling_stats.drop('balls_bowled', axis=1, inplace=True)

batting_stats.rename(columns={'batter': 'player'}, inplace=True)
bowling_stats.rename(columns={'bowler': 'player'}, inplace=True)

players_stats = Players.merge(batting_stats, on='player', how='left')
players_stats = players_stats.merge(bowling_stats, on='player', how='left')

players_stats.fillna(0, inplace=True)

players_stats.head()

,player,matches_played,total_runs,balls_faced,total_4s,total_6s,extras_given,runs_given,wickets_taken,overs_bowled
0,SC Ganguly,38.0,1031.0,977.0,104.0,36.0,8.0,273.0,9.0,36.500000
1,BB McCullum,90.0,2256.0,1777.0,230.0,103.0,0.0,0.0,0.0,0.000000
2,RT Ponting,8.0,77.0,112.0,3.0,2.0,0.0,0.0,0.0,0.000000
3,DJ Hussey,57.0,1271.0,1051.0,87.0,58.0,18.0,485.0,10.0,53.833333
4,Mohammad Hafeez,8.0,64.0,84.0,7.0,2.0,10.0,71.0,2.0,10.500000

In [314]:
players_stats['player_code'] = players_stats.index+1

In [315]:
players_stats

,player,matches_played,total_runs,balls_faced,total_4s,total_6s,extras_given,runs_given,wickets_taken,overs_bowled,player_code
0,SC Ganguly,38.0,1031.0,977.0,104.0,36.0,8.0,273.0,9.0,36.500000,1
1,BB McCullum,90.0,2256.0,1777.0,230.0,103.0,0.0,0.0,0.0,0.000000,2
2,RT Ponting,8.0,77.0,112.0,3.0,2.0,0.0,0.0,0.0,0.000000,3
3,DJ Hussey,57.0,1271.0,1051.0,87.0,58.0,18.0,485.0,10.0,53.833333,4
4,Mohammad Hafeez,8.0,64.0,84.0,7.0,2.0,10.0,71.0,2.0,10.500000,5
...,...,...,...,...,...,...,...,...,...,...,...
707,M Siddharth,0.0,0.0,0.0,0.0,0.0,6.0,72.0,1.0,9.666667,708
708,MP Yadav,0.0,0.0,0.0,0.0,0.0,6.0,88.0,8.0,12.666667,709
709,S Joseph,0.0,0.0,0.0,0.0,0.0,14.0,51.0,0.0,5.000000,710
710,N Thushara,0.0,0.0,0.0,0.0,0.0,20.0,259.0,8.0,28.666667,711
711,V Kaverappa,0.0,0.0,0.0,0.0,0.0,0.0,36.0,2.0,4.000000,712

In [316]:
players_stats.to_csv('players_stats.csv', index=False)

In [317]:
Deliveries.head(5)

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,score
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,1
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,1
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,2
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,2
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,2

In [318]:
Matches.head(5)

,id,player_of_match,venue,team1,team2,toss_winner,winner,result,target_runs,target_overs,Home_Win,loser,Home_Loss,Neutral,toss_match_win
0,335982,BB McCullum,"M Chinnaswamy Stadium, Bengaluru",Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,runs,223.0,20.0,False,Royal Challengers Bangalore,True,False,False
1,335983,MEK Hussey,"Punjab Cricket Association IS Bindra Stadium, ...",Punjab Kings,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,runs,241.0,20.0,False,Punjab Kings,True,False,True
2,335984,MF Maharoof,"Arun Jaitley Stadium, Delhi",Delhi Capitals,Rajasthan Royals,Rajasthan Royals,Delhi Capitals,wickets,130.0,20.0,True,Rajasthan Royals,False,False,False
3,335985,MV Boucher,"Wankhede Stadium, Mumbai",Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,Royal Challengers Bangalore,wickets,166.0,20.0,False,Mumbai Indians,True,False,False
4,335986,DJ Hussey,"Eden Gardens, Kolkata",Kolkata Knight Riders,Sunrisers Hyderabad,Sunrisers Hyderabad,Kolkata Knight Riders,wickets,111.0,20.0,True,Sunrisers Hyderabad,False,False,False

In [319]:
Matches.rename(columns={'id': 'match_id'}, inplace=True)

In [320]:
df_merged = pd.merge(Deliveries, Matches[['match_id', 'team1', 'Neutral']], 
                     on='match_id')

In [321]:
df_merged['is_home_team'] = ((df_merged['batting_team'] == df_merged['team1']) & (df_merged['Neutral'] != True))

In [322]:
df_merged.head(5)

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,score,team1,Neutral,is_home_team
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,1,Royal Challengers Bangalore,False,False
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,1,Royal Challengers Bangalore,False,False
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,2,Royal Challengers Bangalore,False,False
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,2,Royal Challengers Bangalore,False,False
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,2,Royal Challengers Bangalore,False,False

In [323]:
final_scores = (df_merged.groupby(['match_id', 'inning'])['total_runs'].sum().reset_index().rename(columns={'total_runs': 'final_innings_score'}))

In [324]:
df_merged = pd.merge(df_merged, final_scores, on=['match_id', 'inning'], how='left')

In [325]:
df_merged.head(5)

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,...,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,score,team1,Neutral,is_home_team,final_innings_score
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,...,1,legbyes,0,NaN,NaN,1,Royal Challengers Bangalore,False,False,222
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,...,0,NaN,0,NaN,NaN,1,Royal Challengers Bangalore,False,False,222
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,...,1,wides,0,NaN,NaN,2,Royal Challengers Bangalore,False,False,222
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,...,0,NaN,0,NaN,NaN,2,Royal Challengers Bangalore,False,False,222
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,...,0,NaN,0,NaN,NaN,2,Royal Challengers Bangalore,False,False,222

In [326]:
df_merged = pd.merge(df_merged, players_stats[['player','player_code']], left_on='batter', right_on = 'player', how='left')
df_merged.rename(columns={'player_code': 'batter_code'}, inplace=True)
df_merged.drop('player', axis=1, inplace=True)

In [327]:
df_merged = pd.merge(df_merged, players_stats[['player','player_code']], left_on='bowler', right_on = 'player', how='left')
df_merged.rename(columns={'player_code': 'bowler_code'}, inplace=True)
df_merged.drop('player', axis=1, inplace=True)

In [328]:
df_merged = pd.merge(df_merged, players_stats[['player','player_code']], left_on='non_striker', right_on = 'player', how='left')
df_merged.rename(columns={'player_code': 'non_striker_code'}, inplace=True)
df_merged.drop('player', axis=1, inplace=True)

In [329]:
df_merged.head(5)

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,...,player_dismissed,dismissal_kind,score,team1,Neutral,is_home_team,final_innings_score,batter_code,bowler_code,non_striker_code
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,...,NaN,NaN,1,Royal Challengers Bangalore,False,False,222,1,14,2
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,...,NaN,NaN,1,Royal Challengers Bangalore,False,False,222,2,14,1
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,...,NaN,NaN,2,Royal Challengers Bangalore,False,False,222,2,14,1
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,...,NaN,NaN,2,Royal Challengers Bangalore,False,False,222,2,14,1
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,...,NaN,NaN,2,Royal Challengers Bangalore,False,False,222,2,14,1

### Team Encoding

In [330]:
encoder=dict()
j=0
for i in df_merged['batting_team'].unique():
    encoder[i]=j+1
    j+=1
encoder

{'Kolkata Knight Riders': 1,
 'Royal Challengers Bangalore': 2,
 'Chennai Super Kings': 3,
 'Punjab Kings': 4,
 'Rajasthan Royals': 5,
 'Delhi Capitals': 6,
 'Mumbai Indians': 7,
 'Sunrisers Hyderabad': 8,
 'Gujarat Titans': 9,
 'Lucknow Super Giants': 10}

In [331]:
df_merged['batting_team_code'] = df_merged['batting_team'].map(encoder)
df_merged['bowling_team_code'] = df_merged['bowling_team'].map(encoder)

In [332]:
df_merged.head(5)

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,...,score,team1,Neutral,is_home_team,final_innings_score,batter_code,bowler_code,non_striker_code,batting_team_code,bowling_team_code
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,...,1,Royal Challengers Bangalore,False,False,222,1,14,2,1,2
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,...,1,Royal Challengers Bangalore,False,False,222,2,14,1,1,2
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,...,2,Royal Challengers Bangalore,False,False,222,2,14,1,1,2
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,...,2,Royal Challengers Bangalore,False,False,222,2,14,1,1,2
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,...,2,Royal Challengers Bangalore,False,False,222,2,14,1,1,2

In [333]:
df_merged.to_csv('Featured_Matches_with_Deliveries.csv',index=False)